# Nome da loja (https://admin.shopify.com/store/YOUR_SHOP_NAME)
SHOPIFY_NAME="YOUR_SHOP_NAME"

# Storefront API
STOREFRONT_API_VERSION="2026-01"
STOREFRONT_PUBLIC_ACCESS_TOKEN="YOUR_PUBLIC_ACCESS_TOKEN"
STOREFRONT_PRIVATE_ACCESS_TOKEN="YOUR_PRIVATE_ACCESS_TOKEN"

# Admin API
ADMIN_API_VERSION="2026-01"
ADMIN_ACCESS_TOKEN="YOUR_ADMIN_ACCESS_TOKEN"

# Customer Account API (Confidential Client)

SHOPIFY_STORE_ID="YOUR_STORE_ID"
SHOPIFY_CUSTOMER_ACCOUNT_CLIENT_ID="YOUR_CLIENT_ID"
SHOPIFY_CUSTOMER_ACCOUNT_CLIENT_SECRET="YOUR_CLIENT_SECRET"
SHOPIFY_CUSTOMER_ACCOUNT_API_VERSION="2026-01"

# URL base da aplicação (deve ser HTTPS, usar tunnel como ngrok para dev)
APP_URL="https://YOUR_TUNNEL_URL"
